*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}

/* ---------- CONTAINER ---------- */
.forgot-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #001f3f, #003366, #00509e); */
  padding: 20px;
  background-color: black;
}

/* ---------- CARD BOX ---------- */
.forgot-box {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(210, 230, 81, 0.15);
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

/* ---------- HEADING ---------- */
.forgot-box h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 800;
  color: black;
}

.forgot-box p {
  font-size: 14px;
  color: #444;
  margin-bottom: 25px;
}

/* ---------- FORM INPUT ---------- */
.forgot-input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #cfd9e0;
  outline: none;
  font-size: 15px;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.forgot-input:focus {
  border-color: #0059ff;
  box-shadow: 0 0 8px rgba(0, 89, 255, 0.3);
}

/* ---------- BUTTON ---------- */
.forgot-btn {
  width: 100%;
  padding: 14px;
  background-color: #ffc800;
  /* background: linear-gradient(135deg, #0059ff, #003399); */
  border: none;
  border-radius: 12px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.forgot-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 20px rgba(0, 89, 255, 0.4);
}

/* ---------- MESSAGE ---------- */
.forgot-message {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  color: #0059ff;
}

/* ---------- BACK LINK ---------- */
.back-login {
  margin-top: 20px;
  display: inline-block;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.back-login:hover {
  text-decoration: underline;
}

/* ---------- ANIMATION ---------- */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}
