.admin-transactions-page {
  padding: 20px;
  background: #0b0b0b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color:gold;
}

.transactions-table {
  overflow-x: auto;
  margin-top: 15px;
}

.transactions-table table {
  width: 100%;
  border-collapse: collapse;
  background: #060606;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

.transactions-table th,
.transactions-table td {
  padding: 12px 20px;
  border-bottom: 1px solid #e1e4e8;
  text-align: left;
}

.transactions-table th {
  border: 2px solid gold;
  color:gold;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
}

/* .transactions-table tr:hover {
  background-color: #f6f8fa;
} */

.loading,
.error {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  color: #777;
}
